.content-wrapper {
    text-align: center;
    .page-size-dropdown-wrapper {
        width: 100px;
        display: inline-block;
    }

    .sort-order-wrapper {
        width: 181px;
        float: right;
    }
}

.btn-wrapper {

    width: 300px;
    button {
        background-color: #ff9800e6;
        border: 1px solid #ff9800e6;
        width: 100%;
    }
}
